---
title: Stellar Logs
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} | Stellar Logs</title>
  <link rel="stylesheet" href="/styles/screen.css">
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/" title="Mission Control">Home</a></li>
      <li><a href="/posts" title="Short Logs">Logs</a></li>
      <li><a href="/about" title="About the Mission">About</a></li>
    </ul>
  </nav>
  <main>
    {{ content }}
  </main>
  <footer>
    <p>Transmission from Deep Space • Most Recent Date: 2.02.2525</p>
  </footer>
</body>
</html>