body {
    font-family: 'Space Mono', Helvetica, sans-serif;
    color: #EAE8FF;
    background: #2D3142;
    padding: 0 40px;
    text-align: center;
    background-image: radial-gradient(circle at 50% 50%, #212431 0%, #2D3142 100%);
}

nav {
    margin: 40px auto 0 auto;
    width: 350px;
    border-radius: 50px;
    background: #283044;
    border: 1px solid #1B98E0;
    box-shadow: 0 0 20px rgba(34,193,195,0.2);
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #1B98E0;
}

h1 {
    font-size: 4em;
    letter-spacing: -2px;
    margin-bottom: 0.5em;
}

h1 strong {
    background: #42FF38;
    background: linear-gradient(45deg, #1B98E0 0%, #42FF38 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.log-entry {
    max-width: 800px;
    margin: 2em auto;
    padding: 2em;
    text-align: left;
    border-radius: 15px;
    border: 1px solid rgba(27, 152, 224, 0.5);
    box-shadow: 0 0 15px rgba(27, 152, 224, 0.2);
    color: #EAE8FF;
    font-size: 1.1em;
    line-height: 1.6;
}

.log-date {
    color: #1B98E0;
    font-size: 0.9em;
    margin-bottom: 1em;
}

.log-preview {
    max-width: 600px;
    margin: 2em auto;
    text-align: left;
}

footer {
    margin-top: 4em;
    padding: 2em;
    font-size: 0.8em;
    color: #E8F1F2;
}

img.mission-badge {
    width: 150px;
    height: 150px;
    filter: invert(42%) sepia(91%) saturate(620%) hue-rotate(175deg) brightness(92%) contrast(105%);
}

.aboutText {
    max-width: 800px;
    margin: 2em auto;
    padding: 2em;
    text-align: left;
    background: #283044;
    border-radius: 15px;
    border: 1px solid rgba(27, 152, 224, 0.5);
    box-shadow: 0 0 15px rgba(27, 152, 224, 0.2);
    color: #EAE8FF;
    font-size: 1.1em;
    line-height: 1.6;
}

.highlightText {
    font-weight: bold;
    color: #9E7B9B;
    background: rgba(27, 152, 224, 0.2);
    padding: 4px 8px;
    border-radius: 5px;
}